{% extends 'base.html'%}
{% load static %}

{% block content %}
    <!--=================================
    Inner Header -->
    <div class="inner-header bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-sm-6 text-center text-sm-left mb-2 mb-sm-0">
            <h1 class="breadcrumb-title mb-0">About us</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb d-flex justify-content-center justify-content-sm-end ml-auto">
              <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home mr-1"></i>Home</a></li>
              <li class="breadcrumb-item active"><span>About us</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  <!--=================================
  Inner Header -->

  <!--=================================
  Tab -->
  <section class="space-ptb">
    <div class="container">
      <div class="row d-flex align-content-center flex-wrap">
        <div class="col-md-4 align-self-center mb-md-0 mb-4">
          <img class="img-fluid" src="{% static 'images/about/02.jpg' %}" alt="">
        </div>
        <div class="col-md-8 align-self-center pl-3 pl-lg-5">
          <div class="row">
            <div class="col-md-5 col-lg-4 col-xl-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-who-we-are-tab" data-toggle="pill" href="#v-pills-who-we-are" role="tab" aria-controls="v-pills-who-we-are" aria-selected="true">Who we are</a>
                <a class="nav-link" id="v-pills-our-vision-tab" data-toggle="pill" href="#v-pills-our-vision" role="tab" aria-controls="v-pills-our-vision" aria-selected="false">Our vision</a>
                <a class="nav-link" id="v-pills-our-mission-tab" data-toggle="pill" href="#v-pills-our-mission" role="tab" aria-controls="v-pills-our-mission" aria-selected="false">Our mission</a>
                <a class="nav-link" id="v-pills-our-history-tab" data-toggle="pill" href="#v-pills-our-history" role="tab" aria-controls="v-pills-our-history" aria-selected="false">Our challenges</a>
              </div>
            </div>
            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-who-we-are" role="tabpanel" aria-labelledby="v-pills-who-we-are-tab">
                  <div class="row">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                      <h6 class="mb-3">We're creative agency</h6>
                      <p>The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else.</p>
                      <p>If success is a process with a number of defined steps, then it is just like any other process.</p>
                      <a class="btn btn-link text-dark" href="#">Learn more about us<i class="fas fa-arrow-right ml-1"></i></a>
                    </div>
                    <div class="col-lg-6">
                      <h6 class="mb-3">Our services </h6>
                      <ul class="list">
                        <li><i class="fas fa-check"></i> Award-winning design </li>
                        <li><i class="fas fa-check"></i> Super Fast Customer support </li>
                        <li><i class="fas fa-check"></i> Email Design </li>
                        <li><i class="fas fa-check"></i> Easy to Customize pages </li>
                        <li><i class="fas fa-check"></i> Starter Replacement </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-our-vision" role="tabpanel" aria-labelledby="v-pills-our-vision-tab">
                  <h6 class="mb-3">Research, creation, production </h6>
                  <p>I coach my clients to practice the 3 D’s – Defer, Delegate or Delete. Can the particular activity be done later? Defer it! Can it be done by someone else? Delegate it! Does it need to be done at all? </p>
                  <p>Along with your plans, you should consider developing an action orientation that will keep you motivated. </p>
                  <h5 class="text-primary">+(704) 279-1249</h5>
                </div>
                <div class="tab-pane fade" id="v-pills-our-mission" role="tabpanel" aria-labelledby="v-pills-our-mission-tab">
                  <div class="row">
                    <div class="col-lg-6 mb-lg-0 mb-4">
                      <h6 class="mb-3">We're creative agency </h6>
                      <p>The price is something not necessarily defined as financial. It could be time, effort, sacrifice, money or perhaps, something else. </p>
                      <p> So, how can we stay on course with all the distractions in our lives? Willpower is a good start, but it’s very difficult to stay on track simply through willpower. </p>
                      <a class="btn btn-link text-dark" href="#">get a quote </a>
                    </div>
                    <div class="col-lg-6">
                      <h6 class="mb-3">Our Goals </h6>
                      <ul class="list">
                        <li><i class="fas fa-check"></i> Award-winning design </li>
                        <li><i class="fas fa-check"></i> Super Fast Customer support </li>
                        <li><i class="fas fa-check"></i> Email Design </li>
                        <li><i class="fas fa-check"></i> Easy to Customize pages </li>
                        <li><i class="fas fa-check"></i> Starter Replacement </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-our-history" role="tabpanel" aria-labelledby="v-pills-our-history-tab">
                  <h6 class="mb-3">Since 1994 </h6>
                  <p>It is truly amazing the damage that we, as parents, can inflict on our children. So why do we do it? For the most part, we don’t do it intentionally or with malice. In the majority of cases, the cause is a well-meaning but unskilled or un-thinking parent, who says the wrong thing at the wrong time, and the message sticks – as simple as that!</p>
                  <p>This is perhaps the single biggest obstacle that all of us must overcome in order to be successful.</p>
                  <a class="btn btn-link text-dark" href="#">Learn more about us<i class="fas fa-arrow-right ml-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Tab -->

  <!--=================================
  Feature Info -->
  <section class="space-ptb bg-light">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="section-title">
            <span class="pre-title">We're Good At</span>
            <h2>Finaxo business services.</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-md-5 mb-4">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-team"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">Work With Specialists</h6>
              <p>Get the oars in the water and start rowing. Execution is the single biggest factor in achievement.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-5 mb-4">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-money"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">Save Money - Really!</h6>
              <p>Action – putting your plans into play – that is what will get you to the destination don’t get caught.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-5 mb-4">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-telemarketer"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">Continuous Support</h6>
              <p>So, there you have it; the six steps that will help you to the fabled land of achievement and success!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-employee"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">No Salespeople</h6>
              <p>Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-gear"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">Fully Customized</h6>
              <p>Acres of Diamonds… you’ve read the famous story, or at least had it related to you. A farmer hears.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="feature-info feature-info-style-3">
            <div class="feature-info-icon">
              <i class="flaticon-diamond"></i>
            </div>
            <div class="feature-info-content">
              <h6 class="feature-info-title">Avoid Costly Mistakes</h6>
              <p>Was this just another little prank, courtesy of a mischievous Universe? Or is it possible to get.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Feature Info -->

  <!--=================================
  Team -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <span class="pre-title">List of people</span>
            <h2>Meet Our Team</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel team owl-nav-bottom-center" data-nav-dots="false" data-nav-arrow="true" data-items="4" data-md-items="3" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="30" data-autoheight="true">
            <div class="item">
              <div class="team team-style-2">
                <div class="team-img">
                  <img class="img-fluid" src="images/team/01.jpg" alt="">
                </div>
                <div class="team-info">
                  <h6 class="team-title">Michael Bean</h6>
                  <span class="team-designation">Marketing Expert</span>
                  <a class="btn-link" href="#">View Profile</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team team-style-2">
                <div class="team-img">
                  <img class="img-fluid" src="images/team/02.jpg" alt="">
                </div>
                <div class="team-info">
                  <h6 class="team-title">Mellissa Doe</h6>
                  <span class="team-designation">Sales and Marketing</span>
                  <a class="btn-link" href="#">View Profile</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team team-style-2">
                <div class="team-img">
                  <img class="img-fluid" src="images/team/05.jpg" alt="">
                </div>
                <div class="team-info">
                  <h6 class="team-title">Alice Williams</h6>
                  <span class="team-designation">Marketing Expert</span>
                  <a class="btn-link" href="#">View Profile</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team team-style-2">
                <div class="team-img">
                  <img class="img-fluid" src="images/team/03.jpg" alt="">
                </div>
                <div class="team-info">
                  <h6 class="team-title">Paul Flavius</h6>
                  <span class="team-designation">Tax Consultant</span>
                  <a class="btn-link" href="#">View Profile</a>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="team team-style-2">
                <div class="team-img">
                  <img class="img-fluid" src="images/team/05.jpg" alt="">
                </div>
                <div class="team-info">
                  <h6 class="team-title">Alice Williams</h6>
                  <span class="team-designation">Marketing Expert</span>
                  <a class="btn-link" href="#">View Profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Team -->

 

  <!--=================================
  Testimonial -->
  <section class="space-ptb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-title text-center">
            <span class="pre-title">Meet Our Leadership Team</span>
            <h2>Client feedback</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel testimonial testimonial-style-2 owl-nav-bottom-center" data-nav-dots="true" data-nav-arrow="false" data-items="2" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="30" data-autoheight="true">
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="quote-icon">
                    <i class="fas fa-quote-left"></i>
                  </div>
                  <p class="mb-0">I routinely receive email and support well beyond an expected time. Although there is a significant time difference of 11-12 hours between us it appears that we receive 16 hours daily service.</p>
                </div>
                <div class="testimonial-info">
                  <div class="testimonial-avatar-img">
                    <img class="img-fluid" src="images/avatar/03.jpg" alt="">
                  </div>
                  <div class="testimonial-author">
                    <h6 class="author-name">Anne Smith</h6>
                    <span class="author-designation">Manager, Slack (New York)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="quote-icon">
                    <i class="fas fa-quote-left"></i>
                  </div>
                  <p class="mb-0">Our partnership with Finaxo has allowed us to decrease our labor costs significantly, and increase round-the-clock utilization of expensive lab equipment. Thanks!</p>
                </div>
                <div class="testimonial-info">
                  <div class="testimonial-avatar-img">
                    <img class="img-fluid" src="images/avatar/02.jpg" alt="">
                  </div>
                  <div class="testimonial-author">
                    <h6 class="author-name">Felica Queen</h6>
                    <span class="author-designation">CTO, envision (London)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="quote-icon">
                    <i class="fas fa-quote-left"></i>
                  </div>
                  <p class="mb-0">The most essential aspect of a team is the ability to grow with experience in terms of understanding and skill. The team we have at Finaxo has been very expert at this.</p>
                </div>
                <div class="testimonial-info">
                  <div class="testimonial-avatar-img">
                    <img class="img-fluid" src="images/avatar/04.jpg" alt="">
                  </div>
                  <div class="testimonial-author">
                    <h6 class="author-name">Michael Bean</h6>
                    <span class="author-designation">HR, Google (Mumbai)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="quote-icon">
                    <i class="fas fa-quote-left"></i>
                  </div>
                  <p class="mb-0">What sets Finaxo apart is its ability to ramp up work quickly with their employees. Other software development organizations often have to hire to fill a demand for new work.</p>
                </div>
                <div class="testimonial-info">
                  <div class="testimonial-avatar-img">
                    <img class="img-fluid" src="images/avatar/01.jpg" alt="">
                  </div>
                  <div class="testimonial-author">
                    <h6 class="author-name">John Doe</h6>
                    <span class="author-designation">CTO, envision (London)</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-item">
                <div class="testimonial-content">
                  <div class="quote-icon">
                    <i class="fas fa-quote-left"></i>
                  </div>
                  <p class="mb-0">I had a few things I needed help with on this theme... Their customer service was amazing and helped me out many times. One of the complete themes with different requirements.</p>
                </div>
                <div class="testimonial-info">
                  <div class="testimonial-avatar-img">
                    <img class="img-fluid" src="images/avatar/05.jpg" alt="">
                  </div>
                  <div class="testimonial-author">
                    <h6 class="author-name">Sara Lisbon</h6>
                    <span class="author-designation">HR, Google (Mumbai)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Testimonial -->

  <!--=================================
  Client Logo -->
  <section class="space-pb">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="owl-carousel our-clients" data-nav-arrow="false" data-items="6" data-md-items="5" data-sm-items="4" data-xs-items="3" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="4000">
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/01.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/02.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/03.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/04.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/05.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/06.svg" alt=""></a>
            </div>
            <div class="item">
              <a href="#"><img class="img-fluid" src="images/client/07.svg" alt=""></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=================================
  Client Logo -->

    <!--=================================
    footer-->
 
{% endblock content %}