{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--=================================
    Banner -->
    <section class="slider-01">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
 
            <div class="carousel-inner">
                                          <div class="carousel-item  active ">
                <img src="{% static 'uploads/banner/1645859359.jpg'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="slide-content">
                        <h1 class="animated text-white ">India&#039;s Largest Online Corporate Legal Services</h1>
                        <p>Expert Sahayog for those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning.</p>
                                                <a class="animated btn btn-light" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.4s" href="contact-us.html">Contact Us</a>
                                              </div>
                </div>
              </div>
                            <div class="carousel-item ">
                <img src="{% static 'uploads/banner/1645859330.jpg'%}" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <div class="slide-content">
                        <h1 class="animated text-white ">Complete your company annual filing before the time lapses</h1>
                        <p>Expert Sahayog for those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning.</p>
                                                <a class="animated btn btn-light" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.4s" href="contact-us.html">Contact Us</a>
                                              </div>
                </div>
              </div>
                                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
                      </div>


      <!-- <div id="main-slider" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide-01">
              <div class="container">
                <div class="slide-inner">
                  <div class="row align-items-center">
                    <div class="col-md-6 col-xl-5">
                      <div class="slide-content">
                        <h1 class="animated text-white mb-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.2s">Welcome to Filling Suvidha</h1>
                        <a class="animated btn btn-light" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.4s" href="#">Learn more</a>
                      </div>
                    </div>
                    <div class="col-md-5 col-xl-6 offset-xl-1 d-none d-md-block position-relative z-index-1">
                      <img class="animated img-fluid rounded-lg" data-swiper-animation="fadeInRight" data-duration="2.0s" data-delay="0.6s" src="images/slider/home-01/02.jpg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="slide-02">
                <div class="container">
                  <div class="slide-inner">
                    <div class="row align-items-center">
                        <div class="col-md-5 col-xl-6 offset-xl-1 d-none d-md-block position-relative z-index-1">
                            <img class="animated img-fluid rounded-lg" data-swiper-animation="fadeInLeft" data-duration="2.0s" data-delay="0.6s" src="images/slider/home-01/03.jpg" alt="">
                          </div>
                      <div class="col-md-6 col-xl-5">
                        <div class="slide-content">
                          <h1 class="animated text-white mb-4" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.2s">Welcome to Filling Suvidha</h1>
                          <a class="animated btn btn-light" data-swiper-animation="fadeInUp" data-duration="2.0s" data-delay="0.4s" href="#">Learn more</a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
          </div>

        </div>
        <div class="swiper-pagination swiper-pagination-left"></div>
      </div> -->
    </section>
    <!--=================================
    Banner -->

    <!--================================= about -->
    <section class="space-ptb">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6">
            <div class="section-title">
              <span class="pre-title">What we do</span>
              <h2>India&#039;s Largest Online Corporate and compliance Services</h2>
              <p style="line-height: 24px; color: rgb(98, 98, 98); font-family: Poppins, sans-serif; font-size: 14px;"><span style="text-align: justify; font-size: 1rem;">Expert Sahayog </span><span style="text-align: justify;">is a motivated and progressive concept conceived by like-minded people, which helps small, medium and large businesses to fulfil all compliance requirements of Indian Laws. It is a platform managed, operated and driven by top-notch CA, CS, IT professionals, Lawyers and Influencers, who have vast experiences into the respective fields. What differentiates us from others is our pricing, TAT, dedicated teams of professionals, whom we call Compliance Managers, digitally advanced platforms for client serving, among other things.</span><br></p>  
              <hr>
              <div class="callout-botton">
                                <a class="btn btn-primary" href="contact-us.html">Read More</a>
                              </div>   

            </div>
          </div>
          <div class="col-lg-5 col-md-5 ">
            <img class="img-fluid" src="{% static 'uploads/homepage/1648721547.jpg'%}" alt="">
          </div>
        </div>
       
       
      </div>
    </section>
    <!--================================= about -->

    <!--================================= services-->
    <section class="space-ptb bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="section-title"> 
              <h2>Our Services</h2>
              <p class="lh-1 mb-5 mt-2 service-sub">We here at expyog serves you with a panel of prominent professionals at your service. It is a one stop solution for all your legal and professional problems.
              </p>
            </div>
          </div>          
        </div>
        <div class="row">          
                    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
            <div class="feature-info feature-info-style-1">
              <div class="feature-info-icon">
                                <img class="img-fluid" src="{% static 'frontend/images/service/feature-icon/01.svg'%}" alt="logo">
                              </div>
              <div class="feature-info-content">
                <h6 class="feature-info-title"> ISO Certifications</h6>
                <p>We, at Expert Sahayog, help businesses in getting ISO 9001 Certification. The ISO Certificate helps in uplifting the reputation of your product or service.
                  </p>
              </div>
            </div>
          </div>
                    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
            <div class="feature-info feature-info-style-1">
              <div class="feature-info-icon">
                                <img class="img-fluid" src="{% static 'frontend/images/service/feature-icon/02.svg'%}" alt="logo">
                              </div>
              <div class="feature-info-content">
                <h6 class="feature-info-title"> Goods &amp; Service Tax</h6>
                <p>GST Registration is applicable on all goods and services except Petroleum products as of now. Goods &amp; Service Tax (GST) is a consolidated tax
                  </p>
              </div>
            </div>
          </div>
                    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
            <div class="feature-info feature-info-style-1">
              <div class="feature-info-icon">
                                <img class="img-fluid" src="{% static 'frontend/images/service/feature-icon/03.svg'%}" alt="logo">
                              </div>
              <div class="feature-info-content">
                <h6 class="feature-info-title"> Tax Return Filing</h6>
                <p>Income tax return forms range from ITR 1 to ITR 7, used for different types of income and different types of entities. Depending on the type of forms
                  </p>
              </div>
            </div>
          </div>
                    <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
            <div class="feature-info feature-info-style-1">
              <div class="feature-info-icon">
                                <img class="img-fluid" src="{% static 'frontend/images/service/feature-icon/03.svg'%}" alt="logo">
                              </div>
              <div class="feature-info-content">
                <h6 class="feature-info-title"> Labour Laws</h6>
                <p>Expert Sahayog is one of the platforms which coordinate to fulfil all your legal and financial requirements and connect you to consistent professionals.
                  </p>
              </div>
            </div>
          </div>
                  </div>
      </div>
    </section>
    <!--================================= services -->

        <!--=================================
    Counter -->
    <section class="space-ptb position-relative">
        <div class="container">
          <div class="counter ">
            <div class="row">
              <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-item">
                  <div class="counter-icon">
                    <i class="flaticon-clock"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer" data-to="102" data-speed="1000">102</span>
                    <label>Happy Clients Success is measured by results</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-3 mb-4 mb-lg-0">
                <div class="counter-item">
                  <div class="counter-icon">
                    <i class="flaticon-target"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer" data-to="102" data-speed="1000">202</span>
                    <label>Projects delivered within time</label>
                  </div>
                </div>
              </div>

              <div class="col-sm-6 col-lg-3">
                <div class="counter-item">
                  <div class="counter-icon">
                    <i class="flaticon-thought"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer" data-to="302" data-speed="1000">302</span>
                    <label>Hours Of Support to assist in every way</label>
                  </div>
                </div>
              </div>      

              <div class="col-sm-6 col-lg-3 mb-4 mb-sm-0">
                <div class="counter-item">
                  <div class="counter-icon">
                    <i class="flaticon-trophy"></i>
                  </div>
                  <div class="counter-content">
                    <span class="timer" data-to="402" data-speed="1000">402</span>
                    <label>Hard Workers to fulfill your wishes</label>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Counter -->




 

        <!--=================================
    Action-box -->
    <section class="position-relative mt-5">
        <div class="container">
          <div class="callout stretch-bg bg-dark stretch-right">
            <div class="row d-flex align-items-center">
              <div class="col-md-8 mb-md-0 mb-3">
                <div class="callout-content">
                  <h3 class="text-white">Ready to get started?</h3>
                  <p class="mb-0 text-white">Expyog For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning.</p>
                </div>
              </div>
              <div class="col-md-4  text-md-right">
                <div class="callout-botton">
                                    
                  <a class="btn btn-primary" href="contact-us.html">Get started</a>
                                  </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--=================================
      Action-box -->
 


    <!--=================================
    Testimonial -->
    <section class="space-ptb">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <span class="pre-title">Client Feedback</span>
              <h2>Client Opinions & Reviews </h2>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center">
          <div class="col-lg-8 mb-4 mb-lg-0">
            <div class="owl-carousel testimonial testimonial-style-1 owl-nav-bottom-left" data-nav-dots="true" data-nav-arrow="false" data-items="1" data-md-items="1" data-sm-items="1" data-xs-items="1" data-xx-items="1" data-space="0" data-autoheight="false">
                                          <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-author-img">
                    <img class="img-fluid" src="{% static 'uploads/testimonial/1648655863.jpg'%}" alt="hello">
                  </div>
                  <div class="testimonial-details">
                    <div class="testimonial-content">
                      <div class="quote-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="mb-0">&quot;A big thank you to team Expert Sahayog, who made compliance process so easy for my company. With the very less time taken for the process, they saved me from heavy penalties.&quot;</p>
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-author">
                        <h6 class="author-name">Karthikeyan</h6>
                        <span class="author-designation">MD, India</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                            <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-author-img">
                    <img class="img-fluid" src="{% static 'uploads/testimonial/1648655366.jpg'%}" alt="">
                  </div>
                  <div class="testimonial-details">
                    <div class="testimonial-content">
                      <div class="quote-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="mb-0">&quot;I recommend Expert Sahayog, because they have a team of highly experienced professionals for providing wide range of services like taxation, valuation, financial advisory related consulting for individuals . &quot;</p>
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-author">
                        <h6 class="author-name">Soniya Singh</h6>
                        <span class="author-designation">MD, India</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                            <div class="item">
                <div class="testimonial-item">
                  <div class="testimonial-author-img">
                  <img class="img-fluid" src="{% static 'uploads/testimonial/1648655278.jpg'%}" alt="">
                  </div>
                  <div class="testimonial-details">
                    <div class="testimonial-content">
                      <div class="quote-icon">
                        <i class="fas fa-quote-left"></i>
                      </div>
                      <p class="mb-0">&quot;After a lot of research and searching  for my company incorporation I found Expert Sahayog. Professional staff of Expert Sahayog assisted me at every step for the formation of my company. &quot;-</p>
                    </div>
                    <div class="testimonial-info">
                      <div class="testimonial-author">
                        <h6 class="author-name">Ms Seema Bajaj</h6>
                        <span class="author-designation">CFO, India</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
                                        </div>
          </div>
          <div class="col-lg-4 col-xl-3 offset-lg-0 offset-xl-1">
            <div class="counter counter-with-plus p-0">
              <div class="counter-item">
                <div class="counter-content">
                  <span class="timer text-primary display-4" data-to="8670" data-speed="1000">8670</span>
                  <p class="mt-3"><b>expyog Figure out what you want, put a plan together to achieve it, understand the cost, believe in yourself then!</b></p>
                                    <a class="btn btn-outline-primary" href="contact-us.html">Read the case studies</a>
                                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Testimonial -->
 

    <!--=================================
    Latest News -->
    <section class="space-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="section-title">
              <span class="pre-title">Blog & News </span>
              <h2>  latest news </h2>
            </div>
            <p class="lead mb-0">Expyog For those of you who are serious about having more, doing more, giving more and being more, success is achievable with some understanding of what to do, some discipline around planning.</p>
            <div class="mt-4 mt-md-5">Like what you see? <a href="blog.html"><b>See more posts</b></a> </div>
          </div>
          <div class="col-lg-8">
            <div class="owl-carousel blog-post-style-1" data-nav-arrow="false" data-items="2" data-md-items="2" data-sm-items="2" data-xs-items="2" data-xx-items="1" data-space="30" data-autoheight="true" data-autospeed="6000">
                                        <div class="item">
                <div class="blog-post">
                  <div class="blog-post-img">
                    <img class="img-fluid" src="{% static 'uploads/blogs/1648657868.png'%}" alt="" style="height:351px !important;">
                  </div>
                  <div class="blog-post-info">
                    <!-- <a class="blog-post-category" href="#">Finance</a> -->
                    <h5 class="blog-post-title"><a href="blog-detail/4.html">Advantages and disadvantages of Private Limited Company</a></h5>
                  </div>
                </div>
              </div>
                            <div class="item">
                <div class="blog-post">
                  <div class="blog-post-img">
                    <img class="img-fluid" src="{% static 'uploads/blogs/1648662158.jpg'%}" alt="" style="height:351px !important;">
                  </div>
                  <div class="blog-post-info">
                    <!-- <a class="blog-post-category" href="#">Finance</a> -->
                    <h5 class="blog-post-title"><a href="blog-detail/3.html">What Is Shareholders’ Agreement? &amp; Clauses of a Shareholder Agreement</a></h5>
                  </div>
                </div>
              </div>
                            <div class="item">
                <div class="blog-post">
                  <div class="blog-post-img">
                    <img class="img-fluid" src="{% static 'uploads/blogs/1648663583.jpg'%}" alt="" style="height:351px !important;">
                  </div>
                  <div class="blog-post-info">
                    <!-- <a class="blog-post-category" href="#">Finance</a> -->
                    <h5 class="blog-post-title"><a href="blog-detail/2.html">How to start an online business in India? And Different types of Online Business Ideas in India</a></h5>
                  </div>
                </div>
              </div>
                            <div class="item">
                <div class="blog-post">
                  <div class="blog-post-img">
                    <img class="img-fluid" src="{% static 'uploads/blogs/1648661206.jpg'%}" alt="" style="height:351px !important;">
                  </div>
                  <div class="blog-post-info">
                    <!-- <a class="blog-post-category" href="#">Finance</a> -->
                    <h5 class="blog-post-title"><a href="blog-detail/1.html">How to raise funds for Startup?” And Different ways to raise Capital for Business</a></h5>
                  </div>
                </div>
              </div>
                                        </div>
          </div>
        </div>
      </div>
    </section>
    <!--=================================
    Latest News -->
{% endblock content %}
    

